@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

.menuToggle {
  @include flex(column, space-between, flex-start);
  position: relative;
  top: 3px;
  left: 5px;
  z-index: 40000;
  width: 10vw;
  -webkit-user-select: none;
  user-select: none;
  @include media(">=phone", "<tablet") {
    left: 0px;
    padding-right: 1.5em;
  }

  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 0px;
    left: 5px;
    cursor: pointer;
    opacity: 0;
    z-index: 20000;
    -webkit-touch-callout: none;
    padding-right: 1em;
    
    &:checked {

      ~ {
        span {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -1px);
          background: #181818;
          &:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
          }
          &:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
          }
        }
        .nav-wrapper {
          transform: none;
          height: 100vh;
          width: 100vw;
          z-index: 100;
          overflow: hidden;
          transform: translate(-72%, 0%);
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        }
      }
    }
  }
  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1000;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
       0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    &:first-child {
      transform-origin: 0% 0%;
    }
    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }
}

.nav-wrapper {
  @include flex(column, flex-start, flex-start);
  position: absolute;
  overflow: hidden;
  width: 100vw;
  max-height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px 0;
  z-index: 20000;
  padding-top: 125px;
  background: #ededed;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(72%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  button {
    padding: 10px;
    font-family: inherit;
    opacity: 1;
    width: 100%;
    transition: all 0.2s ease-in-out;
    font-size: 1.5rem;
    font-weight: 400;
    outline: none;
    border: 0px;
    cursor: pointer;
    margin: 1em 0;
    background-color: #ededed;
    p {
      text-align: left;
      margin: 0;
      padding: 0.3% 2%;
    }
    &:hover {
      opacity: 1;
      font-weight: 400;
      background-color: #181818;
      color: #fff;
    }
  }
 
}

.ham-footer {
  position: absolute;
  bottom: 5em;
  left: 1em;
  padding: 1em 1em;
  font-size: 1.5em;
  icon {
    color: red;
  }
}