@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

.menuToggle {
  display: block;
  position: relative;
  top: -7px;
  left: 25px;
  z-index: 40000;
  -webkit-user-select: none;
  user-select: none;

  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 20000;
    -webkit-touch-callout: none;
    &:checked {
      ~ {
        span {
          opacity: 1;
          transform: rotate(45deg) translate(-2px, -1px);
          background: #181818;
          &:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
          }
          &:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
          }
        }
        .nav-wrapper {
          transform: none;
          height: 100vh;
          z-index: 100;

          transform: translate(-70%, 0%);
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        }
      }
    }
  }
  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1000;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
       0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    &:first-child {
      transform-origin: 0% 0%;
    }
    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }
}

.nav-wrapper {
  @include flex(column, flex-start, center);
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  button {
    padding: 10px;
    font-family: inherit;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    border: 0px;
    cursor: pointer;
    padding: 10px 0;
    // font-size: 22px;
    &:hover {
      opacity: 1;
      font-weight: 400;
      background-color: #181818;
      color: #fff;
    }
  }
 
}
// .nav-mobile {
//     // position: absolute;
//     width: 100vw;
//     height: 100vw;
// }