@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

.navbar-wrapper {
  width: 80vw;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .name {
    @include flex(row, flex-start, center);
    font-weight: 600;
    width: 30vw;

    p {
      font-weight: 200;
      padding-left: 0.5em;
      width: fit-content;
      margin: 0;
      padding-right: 0.5em;
    }
    img {
      width: 2rem;
      height: 2rem;
    }
    span {
      @include flex(row, flex-start, center);
      width: fit-content;
    }
  }

  .links-wrapper {
    button {
      text-decoration: none;
      padding: 10px;
      font-family: inherit;
      opacity: 0.6;
      transition: all 0.2s ease-in-out;
      font-size: 1rem;
      font-weight: 400;
      background-color: transparent;
      outline: none;
      border: 0px;
      cursor: pointer;
      &:hover {
        opacity: 1;
        font-weight: 400;
        background-color: #181818;
        color: #fff;
      }
    }
    .active {
      background-color: #181818;
      opacity: 1;
      font-weight: 400;
      color: #fff;
    }
  }
  @include media(">=phone", "<tablet") {
    margin-top: 5vh;
    .links-wrapper {
      display: none;
    }
    .name {
      width: 100%;
    }
  }
  @include media(">=tablet", "<4k") {
    .name {
      width: 20em;
    }
  }
}
