@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

.navbar-wrapper {
  width: 85vw;
  padding-top: 5vh;
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0em;
  z-index: 900;
  background-color: #fff;
  // box-shadow: 0 1px 6px 0 #333;

  .name {
    @include flex(row, flex-start, center);
    font-weight: 600;
    width: 30vw;

    p {
      font-weight: 200;
      padding-left: 0.5em;
      width: fit-content;
      margin: 0;
      padding-right: 0.5em;
    }
    img {
      width: 2rem;
      height: 2rem;
    }
    span {
      @include flex(row, flex-start, center);
      width: fit-content;
    }
  }

  .links-wrapper {
    button {
      text-decoration: none;
      padding: 10px;
      font-family: inherit;
      opacity: 0.6;
      transition: all 0.2s ease-in-out;
      font-size: 1.1rem;
      font-weight: 500;
      background-color: transparent;
      outline: none;
      border: 0px;
      cursor: pointer;
      p {
        margin: 0;
      }
      &:hover {
        opacity: 1;
        font-weight: 500;
        background-color: #181818;
        color: #fff;
        box-shadow: 2px 2px 10px rgb(71, 71, 71);
      }
    }
    .active {
      background-color: #181818;
      opacity: 1;
      font-weight: 400;
      color: #fff;
    }
  }
  @include media(">=phone", "<tablet") {
    
    width: 100vw;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 3vh;
    .links-wrapper {
      display: none;
    }
    .name {
      padding-left: 2em;
      p {
        display: none;
      }
      width: 100%;
    }
  }
  @include media(">=tablet", "<desktop") {
    padding-top: 5vh;
    .name {
      p {
        display: none;
      }
    }
  }
  @include media(">=desktop", "<4k") {
    .name {
      width: 20em;
    }
  }
}
