

.container {
  max-height: 300vh;
  max-width: 100vw;

    .promotion-container {
      width: 100%;
      height: 100%;
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h1 {
          font-size: 3rem;
          line-height: 20px;
        }
      }
}

.css-1iv48dl-TimelineVerticalWrapper {
  width: 80vw !important;
}
.css-1gmg89u-MediaWrapper, .css-1o1kbkv-MediaWrapper {
  min-height: 8em !important;
}
