

.container {
  max-height: 300vh;
  max-width: 100vw;

    .promotion-container {
      width: 100%;
      height: 100%;
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h1 {
          font-size: 3rem;
          line-height: 20px;
        }
      }
}

.css-1iv48dl-TimelineVerticalWrapper {
  width: 80vw !important;
}
.css-1gmg89u-MediaWrapper, .css-1o1kbkv-MediaWrapper {
  min-height: 8em !important;
}
.css-as75z5-TimelineContentDetailsWrapper, 
.css-u0xttt-TimelineContentSubTitle, 
.css-1pk2tq9-TimelineCardTitle.active, 
.css-1pk2tq9-TimelineCardTitle {
  padding-left: 3em !important;
}
.css-1pk2tq9-TimelineCardTitle, .css-1pk2tq9-TimelineCardTitle.active, .css-1pk2tq9-TimelineCardTitle {
  padding-left: 1em !important;
  padding-bottom: 0.3em !important;
  font-size: 1.8em !important;
  font-weight: 500;
}
.css-as75z5-TimelineContentDetailsWrapper {
  padding-left: 3.2em !important;
  padding-right: 10em !important;
  width: 60%;
}
.css-r0vroo-TimelineContentDetails {
    width: 90% !important;
    padding-right: 4em !important;
    list-style-type: circle !important;
    color: #333 !important;
}